<link rel="stylesheet" href="../css/fcart.css">
<a href="/cart"><div id="floating-cart">
    <span id="cart-icon">&#128722;</span>
    <span id="cart-item-count"><%= totalQ %></span>
</div></a> 
<script>
//     document.getElementById('floating-cart').addEventListener('click', function() {
//   // Redirect to the cart page
//   window.location.href = '/cart';
// });
</script>