<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/navbar.css">
</head>
<body>
    <%- include('Fcart.ejs', {totalQ: totalQ}) -%>
    <%- include('menu.ejs', {level: level, username: username}) -%>
    <div class="container">
        <h1>BookE-Com</h1>
        <form action="/login" method="post">
            <label class="label" for="username">Username</label>
            <input class="log" type="text" id="username" name="username" required>

            <label class="label" for="password">Password</label>
            <input class="log" type="password" id="password" name="password" required>
            <br><br>
            
            <!-- <button type="submit">Log in</button>
            <br><br> -->

            <button class="button1" type="submit">Log in</button>
            <br>
        </form>
        <a href="/register" class="button2">Register</a></button>
    </div>
</body>
</html>