<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookE-Com</title>
    <link rel="stylesheet" href="../css/navbar.css" />
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <%- include('menu.ejs', {level: level, username: username}) -%>
    <form action="/search" method="get" class="search-container">
      <label for="search">ค้นหา:</label>
      <input type="text" id="search" name="search" />
      <input type="submit" value="ค้นหา" />
    </form>
    <div class="contentholder">
      <% for (var i=0; i < books.length; i++) {%>
      <div class="item">
        <a href="/book/<%= books[i].id %>"
          ><img
            src="../uploads/<%= books[i].file_name %>"
            width="270"
            height="400" /></a
        ><br />
        <div class="name"><%= books[i].title %></div>
      </div>
      <% } %>
    </div>
    <br /><br />
  </body>
</html>
