<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="header">
        <header>
            <img src="logo.png" alt="" width="150px" height="70px">
            <span class="logo">BookE-Com</span>
                <a href="#" class="active" >Login</a>
                <div class="box1">
                    <a href="#">Manga</a> <a href="#">Light Novel</a>  <a href="#">คิดไม่ออก</a>  <a href="#">คิดไม่ออก2</a>  <a href="#">คิดไม่ออก3</a>
                </div>
        </header>
    </div>
    <form action="/search" method="get" class="search-container">
        <label for="search">ค้นหา:</label>
        <input type="text" id="search" name="search">
        <input type="submit" value="ค้นหา">
       </form>
</body>
</html>