body {
    /* display: flex; */
    /* justify-content: center; */
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.name {
    width: 250px;
    word-wrap: break-word;
    border: solid 0px;
    padding: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.contentholder {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}